/* header */
.sub-menu{
    margin-left: 800px;
    width: 525px;
    height: 228px;
    text-align: right;
    font-weight: 400px;
    padding-top: 250px;
}
.btn{
    background-color: red;
    border-radius: 30px;
    padding: 15px;
    width: 150px;
    margin-top: 20px;
}
.menu{
    background-image: url(banner2.png);
    width: 1540px;
    height: 700px;
}
.co-menu{
    padding-top: 20px;
}
*{
    margin: 0;
}
/* main-section 1 */
.pic{
    width: 340px;
    height: 500px;
}
.sub-blog{
    display: flex;
    align-items: center;
    margin-left: 370px;
}
.list{
    padding-top: 10px;
    font-style: italic;
}
.in{
    padding: 50px;
}
/* section-2 */
.header{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    padding-top: 40px;
}
.sub-header{
    align-items: center;
    display: flex;
    margin-right: 300px;
    margin-left: 300px;
}
.little{
    padding: 20px;
    text-align: center;
    width: 1141px;

}
/* section-3 */
.sub-end{
    margin-left: 200px;
    margin-top: 50px;
    padding-top: 50px;
    background-image: url(watch.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
    width: 1140px;
    height: 200px;
    /* background-image: url(../images/gradient2.png); */
}
.inner{
    margin-top: 20px;
    padding-right: 30px 100px 30px 30px;
    margin-left: 100px;
}
#set{
    color: white;
    font-size: 40px;
    font-weight: 500px;
}
#set-2{
    color: red;
}
/* footer-section-1 */
.discription{
    margin-left: 200px;
    display: flex;
    margin-bottom: 30px;
}
.sub-discription{
    padding-top: 20px;
}
.sub-discription-2{
    margin-left: 500px;
}
#last-one{
    margin-top: 20px;
    color: aliceblue;
}
#dif{
    margin-top: 10px;
    color: red;
}
.nine{
    margin-top: 10px;
    color: white;
}
.box{
    background-color: black;
}
/* section-2 */
.icon{
    display: flex;
    margin-left: 180px;
}
.the-end{
    padding-left: 10px;
    margin-bottom: 30px;
}